{% extends "layout.html.twig" %}
{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <div class="page">
        {% for block in blocks %}
            {% include "Blocks/_block.html.twig" %}
        {% endfor %}
    </div>
{% endblock %}